body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', serif;
}
#header{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 10vb;
    display: flex;
    align-items: center;
    color: rgb(239, 239, 239);
}
#header-settings-icon{
    width: 3vw;
    height: 3vw;
    margin-left: 2vw;
    cursor: pointer;
}
#header-title{
    width: 100%;
    text-align: center;
    font-size: x-large;
}
#settings-container {
    display: none;
    position: fixed;
    top: 0;
    left: -300px; /* Start position off-screen */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

#settings-container.active {
    display: block;
    left: 0;
}

/* Credits Container */
#credits-container{
    display: flex;
    align-items: center;
    margin-right: 2vw;
}
#credits-container img{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-right: 0.5vw;
}
#credits-container h1{
    font-size: 2vw;
    color: #333;
    margin: 0;
}

@media (max-width: 768px) {
    #header-settings-icon {
        width: 8.5vw; 
        height: 8.5vw;
    }
    #credits-container img {
        width: 9vw; 
        height: 9vw;
    }
}